.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

.card {
  width: 40vw;
  height: 270px;
  padding: 20px;
  border-radius: 20px;
  background-color: white;
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 579px) {
  .card {
    width: 90vw;
  }
}
.list-item {
  list-style-type: none;
}
.image-container {
  display: flex;
  justify-content: flex-end;
}
.image {
  height: 80px;
  width: 80px;
}
.title {
  font-family: 'Roboto';
  font-weight: bold;
  color: black;
  font-size: 22px;
}
.description {
  color: grey;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Roboto';
}
